@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
    0% {
      background-position: 0 -20;
    }
    50% {
      background-position: 0 -40px;
    }
    100% {
      background-position: 0 0;
    }
  }